<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bclSection" type="BCL.Configuration.BCLConfigurationSection, BCL.Configuration"/>
  </configSections>

  <bclSection appName="BCL">
    <rules>
      <rule template="*.txt" folder="txt folder"/>>
    </rules>
  </bclSection>
</configuration>